<html>
<head>
    <script th:inline="javascript">
        function requestPatch() {
            let formData = new FormData(document.getElementById('formForEdit'));
            let formDataObject = {};
            formData.forEach(((value, key) => formDataObject[key] = value))

            if ([[${userStatus.state}]] == 'SIGNING') {
                formDataObject.account = {"id": [[${userStatus.accountId}]]}
            }

            fetch("http://localhost:8080/board/save", {
                headers: {
                    "Content-Type": "application/json"
                },
                method: 'POST',
                body: JSON.stringify(formDataObject)
            })
                .then(response => response.json())
                .then((it) => window.location.href = "http://localhost:8080/board/" + it.id)
        }

    </script>
    <style>
        div#wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 950px;
            height: 1000px;
            margin-left: -500px;
            margin-top: -500px;
            text-align: right;
        }

        div.innerDiv * {
            vertical-align: middle;
        }

    </style>
</head>
<body>
<div id="wrapper">
    <div class="innerDiv" style="width: 950px;text-align: left">
        <div style="position: relative;left: 85%;margin-bottom: 100px">
            <table>
                <tr>
                    <td style="width: 65px">
                        <a href="/auth/signin" style="text-decoration:none !important;color: black" th:if="${!userStatus.state.toString().equals('SIGNING')}">SignIn</a>
                        <a href="/auth/logout" style="text-decoration:none !important;color: black" th:if="${userStatus.state.toString().equals('SIGNING')}" th:text="|${userStatus.name}님|"></a>
                    </td>
                    <td style="width: 65px">
                        <a href="/auth/signup" style="text-decoration:none !important;color: black"
                           th:if="${!userStatus.state.toString().equals('SIGNING')}">SignUp</a>
                        <a href="/auth/logout" style="text-decoration:none !important;color: black"
                           th:if="${userStatus.state.toString().equals('SIGNING')}" onclick="logout()">Logout</a>
                    </td>
                </tr>
            </table>
        </div>
        <form name="formData" id="formForEdit">
            <div class="innerDiv" style="width: 950px;text-align: left">
                <label>작성자</label>
                <input style="width: 150px" type="text" name="author" th:value="${userStatus.name}"
                       th:readonly="${userStatus.state.toString().equals('SIGNING')}">

            </div>
            <div class="innerDiv" style="width: 950px;margin-top: 10px">
                <label style="margin-right: 15px">제목</label>
                <input style="width: 895px" type="text" name="title">
            </div>
            <div class="innerDiv" style="width: 950px; height: 300px;margin-top: 20px">
                <label style="margin-right: 15px">내용</label>
                <textarea name="content" id="content" style="width: 895px;height: 300px; resize: none"></textarea>
            </div>
        </form>
    </div>
    <div class="innerDiv">
        <button type="button" onclick="requestPatch()">등록</button>
        <button type="button" onclick="location.href='/board'">취소</button>
    </div>
</div>
<div>


</div>

</body>
</html>