<html>
<head>
    <script th:inline="javascript">
        function editPost() {
            let formData = new FormData(document.getElementById('formForEdit'));
            let formDataObject = {};

            formData.forEach(((value, key) => formDataObject[key] = value))

            if ([[${userStatus.state}]] == 'SIGNING') {
                formDataObject.accountId = [[${userStatus.accountId}]]
            }

            fetch("http://localhost:8080/board/[[${post.id}]]/edit", {
                headers: {
                    "Content-Type": "application/json"
                },
                method: 'PATCH',
                body: JSON.stringify(formDataObject)
            })
                .then(response => response.json())
                .then(it => window.location.href = "http://localhost:8080/board/" + it.id);
        }

        function logout(){
            fetch("http://localhost:8080/board/auth/logout", {
                method: 'POST'
            })
                .finally(() => window.location.href = "http://localhost:8080/board")
        }
    </script>
    <style>
        div#wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 950px;
            height: 800px;
            margin-left: -500px;
            margin-top: -430px;
            text-align: right;
        }

        div.innerDiv * {
            vertical-align: middle;
        }

    </style>
</head>
<body>
<div id="wrapper">
    <th:block th:replace="header :: header"></th:block>

    <div class="innerDiv" style="width: 950px;text-align: left">
        <form name="formData" id="formForEdit" style="">
        <label>작성자</label>
        <input style="width: 150px" type="text" name="author" th:value="${post.author}" th:readonly="${userStatus.state.toString().equals('SIGNING')}">
        <input type="hidden" name="id" th:value="${post.id}">
        <div class="innerDiv" style="width: 950px;margin-top: 10px">
            <label style="margin-right: 15px">제목</label>
            <input style="width: 895px" type="text" name="title" th:value="${post.title}">
        </div>
        <div class="innerDiv" style="width: 950px; height: 300px;margin-top: 20px">
            <label style="margin-right: 15px">내용</label>
            <textarea name="content" id="content" style="width: 895px;height: 300px; resize: none"
                      th:text="${post.content}"></textarea>
        </div>
    </form>
    </div>
    <div class="innerDiv">
        <button type="button" onclick="editPost()">확인</button>
        <button type="button" th:onclick="|location.href='/board/${post.id}'|">취소</button>
    </div>
</div>
<div>


</div>

</body>
</html>