<html>
<head>
    <script th:inline="javascript">
        function savePost() {
            let formData = new FormData(document.getElementById('formForEdit'));
            let formDataObject = {};
            formData.forEach(((value, key) => formDataObject[key] = value))

            if(formDataObject.author === ""){
                alert("작성자를 입력해주세요.")
                return
            }else if(formDataObject.title === ""){
                alert("제목을 입력해주세요.")
                return
            }else if(formDataObject.content === ""){
                alert("내용을 입력해주세요.")
                return
            }

            if ([[${userStatus.state}]] == 'SIGNING') {
                formDataObject.accountId = [[${userStatus.accountId}]]
            }

            fetch("http://localhost:8080/board/save", {
                headers: {
                    "Content-Type": "application/json"
                },
                method: 'POST',
                body: JSON.stringify(formDataObject)
            })
                .then(response => response.json())
                .then((it) => window.location.href = "http://localhost:8080/board/" + it.id)
        }

    </script>
    <style>
        div#wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 950px;
            height: 800px;
            margin-left: -500px;
            margin-top: -430px;
            text-align: right;
        }

        div.innerDiv * {
            vertical-align: middle;
        }

    </style>
</head>
<body>
<div id="wrapper">
    <th:block th:replace="header :: header"></th:block>

    <div class="innerDi" style="width: 950px;text-align: left">
        <form name="formData" id="formForEdit">
            <div class="innerDiv" style="width: 950px;text-align: left">
                <label>작성자</label>
                <input style="width: 150px" type="text" name="author" th:value="${userStatus.name}"
                       th:readonly="${userStatus.state.toString().equals('SIGNING')}">

            </div>
            <div class="innerDiv" style="width: 950px;margin-top: 10px">
                <label style="margin-right: 15px">제목</label>
                <input style="width: 895px" type="text" name="title">
            </div>
            <div class="innerDiv" style="width: 950px; height: 300px;margin-top: 20px">
                <label style="margin-right: 15px">내용</label>
                <textarea name="content" id="content" style="width: 895px;height: 300px; resize: none"></textarea>
            </div>
        </form>
    </div>
    <div class="innerDiv">
        <button type="button" onclick="savePost()">등록</button>
        <button type="button" onclick="location.href='/board'">취소</button>
    </div>
</div>
<div>


</div>

</body>
</html>